<div class="modal" tabindex="-1" role="dialog" id="createModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Role</h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true" (click)="closeModal()">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="roleForm">
                    <div class="form-group">
                        <label for="Name">Role Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Enter Role Name" formControlName="Name">
                        <div *ngIf="roleForm.controls.Name.invalid && (roleForm.controls.Name.dirty || roleForm.controls.Name.touched)" class="alert alert-danger">
                        <div *ngIf="roleForm.controls.Name.errors.required">
                            Role Name is required.
                        </div>
                        <div *ngIf="roleForm.controls.Name.errors.minlength">
                            Role Name must be at least 4 characters long.
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Code">Role Code</label>
                        <input type="text" class="form-control" id="Code" placeholder="Enter Role Code" formControlName="Code">
                        <div *ngIf="roleForm.controls.Code.invalid && (roleForm.controls.Code.dirty || roleForm.controls.Code.touched)" class="alert alert-danger">
                        <div *ngIf="roleForm.controls.Code.errors.required">
                            Role Code is required.
                        </div>
                        <div *ngIf="roleForm.controls.Code.errors.minlength">
                            Role Code must be at least 4 characters long.
                        </div>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Policy Name</th>
                            <th scope="col">Read</th>
                            <th scope="col">Write</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="rolePolicies">
                            <tr *ngFor="let rolePolicy of rolePolicies.controls; let i = index" [formGroupName]="i">
                            <td>
                                {{ rolePolicy.get('policyName').value }}
                            </td>
                            <td>
                                <input type="checkbox" class="form-control small-checkbox" formControlName="read">
                            </td>
                            <td>
                                <input type="checkbox" class="form-control small-checkbox" formControlName="write">
                            </td>
                            </tr>
                        </tbody>
                    </table>                
                </form>
           </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-primary"
                    (click)="saveChanges()"
                    [disabled]="!roleForm.valid"
                >
                    Save changes
                </button>
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                    (click)="closeModal()"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>